<a href="https://colab.research.google.com/github/readwalkerchang/Silly-story-generator/blob/master/Non_Personalized_Suggestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

item_df 是擁有 user 和 book_title 兩個欄位的 DataFrame

In [28]:
import pandas as pd  
import numpy as numpy
  
# assign data of lists.  
AchievementData = {'Achievement': ['Maker of the Month', 'Crashed It!', 'Christmas Savior', 'Learning the Basics']}  
userdata =  {'UserAchievement': ['Maker of the Month', 'Crashed It!']}  


# Create DataFrame  
dfAchievementData = pd.DataFrame(AchievementData)  
dfuserdata = pd.DataFrame(userdata)  
  
# Print the output.  
print(dfAchievementData)  
print(dfuserdata)

           Achievement
0   Maker of the Month
1          Crashed It!
2     Christmas Savior
3  Learning the Basics
      UserAchievement
0  Maker of the Month
1         Crashed It!

In [29]:
from itertools import permutations
def create_pairs(item_df):
    pairs = permutations(item_df.values, 2) # 從所有的物品裡面隨機不放回抽取 2 個物品
    pairs = list(pairs) # 可以直接和上面的程式碼整合在一起，但因為這裡的 permutation 實際上是疊代器，因此需要使用 list 來實例化
    pairs = pd.DataFrame(pairs, columns=["items_A", "items_B"])
    return pairs

UserAchievementPairs = create_pairs(dfuserdata)
AchievementPairs = create_pairs(dfAchievementData)
print(AchievementPairs,'\n',UserAchievementPairs)

                  items_A                items_B
0    [Maker of the Month]          [Crashed It!]
1    [Maker of the Month]     [Christmas Savior]
2    [Maker of the Month]  [Learning the Basics]
3           [Crashed It!]   [Maker of the Month]
4           [Crashed It!]     [Christmas Savior]
5           [Crashed It!]  [Learning the Basics]
6      [Christmas Savior]   [Maker of the Month]
7      [Christmas Savior]          [Crashed It!]
8      [Christmas Savior]  [Learning the Basics]
9   [Learning the Basics]   [Maker of the Month]
10  [Learning the Basics]          [Crashed It!]
11  [Learning the Basics]     [Christmas Savior]
                 items_A               items_B
0  [Maker of the Month]         [Crashed It!]
1         [Crashed It!]  [Maker of the Month]

# Add counts to achievement pairs

In [30]:
#create ramdom number for eash pairs
import random
randomlist = []
for i in range(0,12):
  n = random.randint(1,30)
  randomlist.append(n)
# Declare a list that is to be converted into a column
 
# Using 'Address' as the column name
# and equating it to the list
AchievementPairs['count'] = randomlist
AchievementPairs

                  items_A                items_B  count
0    [Maker of the Month]          [Crashed It!]      9
1    [Maker of the Month]     [Christmas Savior]     10
2    [Maker of the Month]  [Learning the Basics]     24
3           [Crashed It!]   [Maker of the Month]     12
4           [Crashed It!]     [Christmas Savior]     15
5           [Crashed It!]  [Learning the Basics]     30
6      [Christmas Savior]   [Maker of the Month]     30
7      [Christmas Savior]          [Crashed It!]      3
8      [Christmas Savior]  [Learning the Basics]      9
9   [Learning the Basics]   [Maker of the Month]     26
10  [Learning the Basics]          [Crashed It!]     12
11  [Learning the Basics]     [Christmas Savior]      1

#Clean the pair list

 Get the number of rows, columns and elements


```
Get the number of columns: len(df.columns)
Get the number of rows and columns: df.shape
Get the number of elements: df.size
```


Loop through the AchievementPairs and find if the items_A match users items_A by using 

```
update_df.loc[1,"items_A"]
```


If it matches, then see which pair also match item_B
If it matches both, delete this row by using:


```
update_df = AchievementPairs.drop(0)
```

In [43]:
def remove_duplicated_pairs(user_df, service_df):
  RemoveList = []
  for i in range(len(user_df)) :
    for j in range(len(service_df)) :
      if user_df.loc[i, "items_A"] == service_df.loc[j, "items_A"]:
        if user_df.loc[i, "items_B"] == service_df.loc[j, "items_B"]:
          RemoveList.append(j)
  return RemoveList


RemoveList = remove_duplicated_pairs(UserAchievementPairs,AchievementPairs)
print("Remove:",RemoveList)
update_AchievementPairs = AchievementPairs.drop(RemoveList).reset_index(drop=True)
print(update_AchievementPairs)

Remove: [0, 3]
                 items_A                items_B  count
0   [Maker of the Month]     [Christmas Savior]     10
1   [Maker of the Month]  [Learning the Basics]     24
2          [Crashed It!]     [Christmas Savior]     15
3          [Crashed It!]  [Learning the Basics]     30
4     [Christmas Savior]   [Maker of the Month]     30
5     [Christmas Savior]          [Crashed It!]      3
6     [Christmas Savior]  [Learning the Basics]      9
7  [Learning the Basics]   [Maker of the Month]     26
8  [Learning the Basics]          [Crashed It!]     12
9  [Learning the Basics]     [Christmas Savior]      1

In [32]:
#If the selection and label A and label B match, remove the row #I'm here
#drop same pairs as the user has

def remove_duplicated_pairs(user_df, service_df):
  RemoveList = []
  print('Drop:')
  for i in range(len(user_df)) :
    for j in range(len(service_df)) :
      if user_df.loc[i, "items_A"] == service_df.loc[j, "items_A"]:
        if user_df.loc[i, "items_B"] == service_df.loc[j, "items_B"]:
          RemoveList.append(j)
          print(j,service_df.loc[j, "items_A"],service_df.loc[j, "items_B"])
          return RemoveList


RemoveList = remove_duplicated_pairs(UserAchievementPairs,AchievementPairs)
update_AchievementPairs = AchievementPairs.drop(RemoveList).reset_index(drop=True)
print(update_AchievementPairs)

Drop:
0 ['Maker of the Month'] ['Crashed It!']
                  items_A                items_B  count
0    [Maker of the Month]     [Christmas Savior]     10
1    [Maker of the Month]  [Learning the Basics]     24
2           [Crashed It!]   [Maker of the Month]     12
3           [Crashed It!]     [Christmas Savior]     15
4           [Crashed It!]  [Learning the Basics]     30
5      [Christmas Savior]   [Maker of the Month]     30
6      [Christmas Savior]          [Crashed It!]      3
7      [Christmas Savior]  [Learning the Basics]      9
8   [Learning the Basics]   [Maker of the Month]     26
9   [Learning the Basics]          [Crashed It!]     12
10  [Learning the Basics]     [Christmas Savior]      1

Drop other pair which are not contain use's input
 - save a new df if items_A match user's input

In [33]:
print((UserAchievementPairs))
print((update_AchievementPairs))

                items_A               items_B
0  [Maker of the Month]         [Crashed It!]
1         [Crashed It!]  [Maker of the Month]
                  items_A                items_B  count
0    [Maker of the Month]     [Christmas Savior]     10
1    [Maker of the Month]  [Learning the Basics]     24
2           [Crashed It!]   [Maker of the Month]     12
3           [Crashed It!]     [Christmas Savior]     15
4           [Crashed It!]  [Learning the Basics]     30
5      [Christmas Savior]   [Maker of the Month]     30
6      [Christmas Savior]          [Crashed It!]      3
7      [Christmas Savior]  [Learning the Basics]      9
8   [Learning the Basics]   [Maker of the Month]     26
9   [Learning the Basics]          [Crashed It!]     12
10  [Learning the Basics]     [Christmas Savior]      1

In [34]:
CleanedAchievementData = pd.DataFrame( columns=["items_A", "items_B","count"]) 
trildict = {'items_A': 'A', 'items_B': 'B', 'count': 12}
CleanedAchievementData.append(trildict ,ignore_index = True)
for i in range(len(UserAchievementPairs)) :
  for j in range(len(update_AchievementPairs)) :
    if UserAchievementPairs.loc[i, "items_A"] == update_AchievementPairs.loc[j, "items_A"]:
      iteamA = update_AchievementPairs.loc[j, "items_A"]
      iteamB = update_AchievementPairs.loc[j, "items_B"]
      count = update_AchievementPairs.loc[j, "count"]
      newRow = {'items_A': numpy.array2string(iteamA), 'items_B': numpy.array2string(iteamB), 'count': numpy.array2string(count)}
      CleanedAchievementData = CleanedAchievementData.append(newRow ,ignore_index = True)


print(CleanedAchievementData)

                  items_A                  items_B count
0  ['Maker of the Month']     ['Christmas Savior']    10
1  ['Maker of the Month']  ['Learning the Basics']    24
2         ['Crashed It!']   ['Maker of the Month']    12
3         ['Crashed It!']     ['Christmas Savior']    15
4         ['Crashed It!']  ['Learning the Basics']    30

#Calculating recommendation

In [35]:
# Doing sorting

pair_counts_sorted = CleanedAchievementData.sort_values('count', ascending=False)
print(pair_counts_sorted)

                  items_A                  items_B count
4         ['Crashed It!']  ['Learning the Basics']    30
1  ['Maker of the Month']  ['Learning the Basics']    24
3         ['Crashed It!']     ['Christmas Savior']    15
2         ['Crashed It!']   ['Maker of the Month']    12
0  ['Maker of the Month']     ['Christmas Savior']    10

In [36]:
#Generate recommendation